.hero__button--active {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 29px;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__button {
  padding: 4px 55px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.footer__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  margin-left: 12px;
  display: flex;
}

.button__icon {
  margin-left: 10px;
  fill: $color-white;
}

.hero__button--active,
.form__button,
.footer__button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: $color-blue;
  color: $color-white;
}

.button__close--active {
  position: absolute;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: $color-white;
  margin: 0;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

//portfolio buttons

.buttons {
  display: flex;
  justify-content: center;
}

.buttons__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  margin: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  color: $color-black;
  background: $color-background-light;
  transition: color $trans-duration $timing-function,
    background-color $trans-duration $timing-function,
    box-shadow $trans-duration $timing-function;
  &:hover,
  &:focus {
    background-color: $color-blue;
    color: $color-white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
