.container__footer {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1199px) {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (max-width: 767px) {
  .mobaile__centr {
    display: block;
    justify-content: center;
  }
}
.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    display: block;
    align-items: center;
  }
}

.footer__item__contact {
  &:not(:last-child) {
    margin-bottom: 8x;
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer__address {
  color: $color-white;
  transition: color $trans-duration $timing-function;
  &:hover,
  &:focus {
    color: $color-blue;
  }
}

.footer__link {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color $trans-duration $timing-function;
  &:hover,
  &:focus {
    color: $color-blue;
  }
}

.form__container {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.form__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .address {
    margin-top: 20px;
  }
  .footer__item__contact,
  .form__heading {
    display: flex;
    justify-content: center;
  }
  .footer__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__form {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.footer__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $color-background-dark;
  padding: 15px 16px;
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;
  }
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
