.portfolio {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.portfolio__item {
  &:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
}

.portfolio__items__hover {
  display: block;
}

.portfolio__items__hover:hover,
.portfolio__items__hover:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__animation {
  position: relative;
  overflow: hidden;
  display: block;
}

.animation__text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: translateY(+100%);
  transition: transform $trans-duration $timing-function;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  .portfolio__items__hover:hover &,
  .portfolio__items__hover:focus & {
    transform: translateY(0%);
  }
}

.animation__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: $color-white;
}

.portfolio__thumb {
  margin-top: -5px;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: $color-white;
}

.portfolio__titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $color-gray;
}
