body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: $color-black;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: $color-background-dark;
  padding: 60px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section__job {
  padding-top: 0;
}

.section__team {
  background: $color-background-light;
}
